* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
body #app {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#app > div > input {
  margin-bottom: 1rem;
  width: 300px;
  height: 50px;
  position: relative;
  z-index: 1;
  border: none;
  border: 1px solid black;
  border-radius: 3px;
}
#app > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#app > div > input:focus {
  outline: none;
  border: 2px solid #007fff;
}
.error {
  border: 2px solid red;
}
#app > div > input::placeholder {
  padding: 10px;
  margin-left: 10px;
}
svg {
  position: relative;
  transform: translateY(-100px);
}
path {
  cursor: pointer;
}
audio {
  display: none;
}
#audios-checkbox-container {
  margin: 2rem;
  float: right;
}
text {
  cursor: pointer;
}
label {
  color: red;
  cursor: pointer;
}
@keyframes laughing {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1px);
  }
}
@keyframes nunjutSu {
  to {
    opacity: 0;
  }
}
